#generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

#eclipse files 
.metadata/
RemoteSystemsTempFiles/
README.md
*.project
.settings/
*.classpath
build/
*.settings
Servers/

#java files
*.class